html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	list-style: none;
    text-decoration: none;
}

:root {
	--c1: #222226;
	--c2: #333336;
	--c3: #ff1e56;
	--c4: #ffac41;
	--c5: #eeeeee;
	--c6: #777777;
	--c7: #444446;
}

a {color: var(--c6);}
a:hover {color: var(--c5);}
.cc4 {color: var(--c4);}
.cc5 {color: var(--c5);}
.cc6 {color: var(--c6);}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	color:  var(--c5); 
	height: 100%;
	background-color: var(--c1);
}


.header_top{
	background-color:  var(--c2);
}

.maincontent{
    background-color:  var(--c2);
}